.btnCallToAction {
    cursor: pointer;
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    border-radius: 1.2em;
    padding: clamp(0.55em, 2vw, 0.7em) 
             clamp(1.2em, 4vw, 2em);
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    border: 2px solid transparent;
}
.purple {
  background-color: var(--purple-action);
  color: var(--light);
  border: none;
}
.purple:hover {
  background-color: var(--purple-primary);
}

.white {
  background-color: var(--light);
  color: var(--purple-primary);
}
.white:hover {
    background-color: var(--purple-primary);
    border: 0.2em solid var(--light);
    border-color: var(--light);
    color: var(--light);
}

.border {
    background-color: transparent;
    border: 0.2em solid var(--light);
    border-color: var(--light);
    color: var(--light);
}
.border:hover {
    background-color: var(--light);
    color: var(--purple-primary);
}

@media (max-width: 470px) {
    .btnCallToAction {
        font-size: 1rem;
        padding: 0.6em 1.5em;
    }
}