.header {
    background-color: var(--purple-primary);
    color: var(--light);
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.2em 1em var(--font-gray)
}

.logoHtr {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 1rem;
}
.logoHtr img {
    max-width: 30%;
    width: auto;
}

.navegation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buttonNav {
    display: none;
    
}
#topLine,
#bottomLine,
#middleLine {
    transform-box: fill-box;
    transform-origin: center;
}

/* Responsiveness */
@media (max-width: 1024px) {
    .navegation {
        display: none;
    }
    .buttonNav {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        width: 8%;
        right: 2em;
        z-index: 11000;
        margin-right: 2rem;
    }
    .line {
        transition: all 0.3s ease;
        transform-origin: center;
    }
    .topActive {
        transform: translateY(10px) rotate(45deg);
    }
    .middleActive {
        opacity: 0;
    }
    .bottomActive {
        transform: translateY(-10px) rotate(-45deg);
    }

    .navegation.active {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: var(--header-height);
    right: 0;
    background-color: var(--cor-dark-blue);
    padding: 2rem 1.5rem;
    box-shadow: -1em 0 1em rgba(0, 0, 0, 0.4);
    z-index: 10500;
  }
  .navegation.active ul {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  .navegation.active li,
  .navegation.active button {
    width: 100%;
  }
}
@media (max-width: 670px) {
    .navegation.active {
        padding: 2rem 1.5rem;
    }
    .navegation.active ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 90%;
    }
    .navegation.active li,
    .navegation.active button {
        width: 100%;
    }
}
@media (max-width: 480px) {
    header {
        height: 10vh;
    }
    .boamente img {
        min-width: 15%;
        height: auto; 
        margin: 5%;
    }
    .boamente span {
        font-size: 1.5em;
    }
    .buttonNav {
        margin-right: 5%;
    }
}