@import "tailwindcss";

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf') format('woff2');
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --font-gray: #5C5C5C;
  --purple-primary: #3F2E75;
  --purple-secundary: #1B263B;
  --purple-action: #55618C;
  --text-primary: #1C1C1C;
  --light: #F7F7F7;
  --gray: #EDEDED;
}