@import "tailwindcss";

:root {
  font-family: Montserrat;
  --font-gray: #5C5C5C;
  --purple-primary: #3F2E75;
  --purple-secundary: #1B263B;
  --purple-action: #55618C;
  --text-primary: #1C1C1C;
  --light: #F7F7F7;
}

/* primary: '#3F2E75',
secondary: '#F7F7F7',
accent: '#FF75B5',
fontGray: '#5C5C5C',
purplePrimary: '#3F2E75',
purpleSecundary: '#1B263B',
purpleAction: '#55618C',
textPrimary: '#1C1C1C',
background: '#F7F7F7', */